/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
  background-color: #5ac75b;
  padding: 20px;
}

h1 {
  color: black;
  text-align: center;
  font-size: 500%;
  padding: 10px 10px 10px 10px;
  font-family: 'Lexend Exa', sans-serif;

}

button {
  display: grid;
  margin:0 auto;
  border-radius: 10px;
  background-color: white;
  box-shadow: 5px 5px 5px;
}

.container {
  border-style: solid black;
  border-width: 5px;
}

a {
  font-family: 'Lexend Exa', sans-serif;
}

.col {
  text-align: center;
  margin: 20px;

}

#trash {
  font-size: 300%;
  font-family: 'Lexend Exa', sans-serif;

}

#div1 {
  width:200px;
  display: flex;
  justify-content: center;
  height: 200px;
  /* border: 2px solid black; */
  position: absolute;
  left: 225px;
  top: 20%;
}

#div2 {
  width:200px;
  display: flex;
  justify-content: center;
  height: 200px;
  /* border: 2px solid black; */
  position: absolute;
  left: 475px;
  top: 20%;
}

#div3 {
  width:200px;
  display: flex;
  justify-content: center;
  height: 200px;
  /* border: 2px solid black; */
  position: absolute;
  left: 725px;
  top: 20%;
}

#div4 {
  width:200px;
  display: flex;
  justify-content: center;
  height: 200px;
  /* border: 2px solid black; */
  position: absolute;
  left: 975px;
  top: 20%;
}

#div5 {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 200px;
  top: 60%;
}

#div6 {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 400px;
  top: 60%;
}

#div7 {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 600px;
  top: 60%;
}

#div8 {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 800px;
  top: 60%;
}

#div9 {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 1000px;
  top: 60%;
}

#div10 {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 200px;
  top: 80%;
}

#div11{
  display: flex;
  justify-content: center;
  position: absolute;
  left: 400px;
  top: 80%;
}

#div12 {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 600px;
  top: 80%;
}

#div13 {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 800px;
  top: 80%;
}

#div14 {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 1000px;
  top: 80%;
}

#p {
  font-size: 1000%;
  display: flex;
  top: 90%;
}
